# <div class="jumbotron text-center text-white">
#   <h4 class="display-4">Welcome to</h4>
#   <h1 class="display-3">Eventbrite</h1>
#   <br>
#   <p class="lead">quickly find events near you & create your new events here :</p> 
  
#     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
#   </p>
# </div>

