<div class="jumbotron text-center text-white">
  <h2 class="display-5">Welcome to</h2>
  <h1 class="display-3">Eventbrite</h1>
  <br>
  <p class="lead">Quickly find events near you & create your new events here :</p> 
  
    <a class="btn btn-primary btn-lg" href="<%= events_new_path %>" role="button">Create New Event</a>
  </p>
</div>

